:root {
  --main-color: darkblue;
  --text-color: white;
  --border-color: black;
  --shadow-color: gray;
  --img-width: 150px;
  --padding-small: 2px;
}

nav {
    background-color: var(--main-color);
    padding: 10px;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-color);
}

img {
    width: var(--img-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: var(--padding-small);
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    width: var(--img-width);
    height: auto;
    border: 1px solid var(--border-color);
    padding: var(--padding-small);
    box-shadow: 0 0 30px var(--shadow-color);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}